# Created by .ignore support plugin (hsz.mobi)

#IDEA
.idea/
*.iml

#Maven
target/
*.class

#Eclipse
.classpath
.settings
.project

#.src/main/resources/ecg.txt
#src/main/resources/e
src/main/resources/ecg.txt
src/main/resources/ecg10days.txt
src/main/resources/ecg10days1.txt
src/main/resources/ecg10days2.txt
src/main/resources/ecg10days3.txt
#.src/main/resources/ecg_normed.txt
src/main/resources/ecg_normed.txt
src/main/resources/e*

*.class

proposal-latex/

#IDEA
.idea/
*.iml

#Maven
target/
Code/sparkMaven/output/


#Eclipse
.classpath
.settings
.project

# latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
BTW-2019/LNI-master/
BTW-2019/old/