# Created by .ignore support plugin (hsz.mobi)

#IDEA
.idea/
*.iml

#Maven
target/
*.class

#Eclipse
.classpath
.settings
.project

src/main/resources/ecg.txt


*.class

proposal-latex/

#IDEA
.idea/
*.iml

#Maven
target/
Code/sparkMaven/output/


#Eclipse
.classpath
.settings
.project

# latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
BTW-2019/LNI-master/
BTW-2019/old/